# 数据加载、存储与文件格式

## 读取文本格式的数据

In [1]:
!type ex1.csv

a,b,c,d,message
1,2,3,4,hello
5,6,7,8,world
9,10,11,12,foo

In [3]:
import pandas as pd

In [3]:
df = pd.read_csv('ex1.csv')
df

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

In [4]:
pd.read_table('ex1.csv', sep=',')

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

In [5]:
!type ex2.csv

1,2,3,4,hello
5,6,7,8,world
9,10,11,12,foo

In [6]:
pd.read_csv('ex2.csv', header=None)

   0   1   2   3      4
0  1   2   3   4  hello
1  5   6   7   8  world
2  9  10  11  12    foo

In [7]:
pd.read_csv('ex2.csv', names=['a', 'b', 'c', 'd', 'message'])

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

In [8]:
names = ['a', 'b', 'c', 'd', 'message']

In [10]:
pd.read_csv('ex2.csv', names=names, index_col='message')

         a   b   c   d
message
hello    1   2   3   4
world    5   6   7   8
foo      9  10  11  12

In [11]:
!type csv_mindex.csv

key1,key2,value1,value2
one,a,1,2
one,b,3,4
one,c,5,6
one,d,7,8
two,a,9,10
two,b,11,12
two,c,13,14
two,d,15,16

In [12]:
parsed = pd.read_csv('csv_mindex.csv', index_col=['key1', 'key2'])

In [13]:
parsed

           value1  value2
key1 key2
one  a          1       2
     b          3       4
     c          5       6
     d          7       8
two  a          9      10
     b         11      12
     c         13      14
     d         15      16

In [14]:
list(open('ex3.txt'))

['            A         B         C\n',
 'aaa -0.264438 -1.026059 -0.619500\n',
 'bbb  0.927272  0.302904 -0.032399\n',
 'ccc -0.264273 -0.386314 -0.217601\n',
 'ddd -0.871858 -0.348382  1.100491\n']

In [15]:
result = pd.read_table('ex3.txt', sep='\s+')

In [16]:
result

            A         B         C
aaa -0.264438 -1.026059 -0.619500
bbb  0.927272  0.302904 -0.032399
ccc -0.264273 -0.386314 -0.217601
ddd -0.871858 -0.348382  1.100491

In [17]:
!type ex4.csv

# hey!
a,b,c,d,message
# just wanted to make things more difficult for you
# who reads CSV files with computers, anyway?
1,2,3,4,hello
5,6,7,8,world
9,10,11,12,foo

In [18]:
pd.read_csv('ex4.csv', skiprows=[0, 2, 3])

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

In [19]:
!type ex5.csv

something,a,b,c,d,message
one,1,2,3,4,NA
two,5,6,,8,world
three,9,10,11,12,foo

In [20]:
result = pd.read_csv('ex5.csv')

In [21]:
result

  something  a   b     c   d message
0       one  1   2   3.0   4     NaN
1       two  5   6   NaN   8   world
2     three  9  10  11.0  12     foo

In [22]:
pd.isnull(result)

   something      a      b      c      d  message
0      False  False  False  False  False     True
1      False  False  False   True  False    False
2      False  False  False  False  False    False

In [23]:
result = pd.read_csv('ex5.csv', na_values=['NULL'])

In [24]:
result

  something  a   b     c   d message
0       one  1   2   3.0   4     NaN
1       two  5   6   NaN   8   world
2     three  9  10  11.0  12     foo

In [25]:
sentinels = {'message': ['foo', 'NA'], 'something': ['two']}

In [26]:
pd.read_csv('ex5.csv', na_values=sentinels)

  something  a   b     c   d message
0       one  1   2   3.0   4     NaN
1       NaN  5   6   NaN   8   world
2     three  9  10  11.0  12     NaN

### 逐块读取文本文件

In [27]:
result = pd.read_csv('ex6.csv')
result

           one       two     three      four key
0     0.467976 -0.038649 -0.295344 -1.824726   L
1    -0.358893  1.404453  0.704965 -0.200638   B
2    -0.501840  0.659254 -0.421691 -0.057688   G
3     0.204886  1.074134  1.388361 -0.982404   R
4     0.354628 -0.133116  0.283763 -0.837063   Q
5     1.817480  0.742273  0.419395 -2.251035   Q
6    -0.776764  0.935518 -0.332872 -1.875641   U
7    -0.913135  1.530624 -0.572657  0.477252   K
8     0.358480 -0.497572 -0.367016  0.507702   S
9    -1.740877 -1.160417 -1.637830  2.172201   G
10    0.240564 -0.328249  1.252155  1.072796   8
11    0.764018  1.165476 -0.639544  1.495258   R
12    0.571035 -0.310537  0.582437 -0.298765   1
13    2.317658  0.430710 -1.334216  0.199679   P
14    1.547771 -1.119753 -2.277634  0.329586   J
15   -1.310608  0.401719 -1.000987  1.156708   E
16   -0.088496  0.634712  0.153324  0.415335   B
17   -0.018663 -0.247487 -1.446522  0.750938   A
18   -0.070127 -1.579097  0.120892  0.671432   F
19   -0.194678 -0.492039  2.359605  0.319810   H
20   -0.248618  0.868707 -0.492226 -0.717959   W
21   -1.091549 -0.867110 -0.647760 -0.832562   C
22    0.641404 -0.138822 -0.621963 -0.284839   C
23    1.216408  0.992687  0.165162 -0.069619   V
24   -0.564474  0.792832  0.747053  0.571675   I
25    1.759879 -0.515666 -0.230481  1.362317   S
26    0.126266  0.309281  0.382820 -0.239199   L
27    1.334360 -0.100152 -0.840731 -0.643967   6
28   -0.737620  0.278087 -0.053235 -0.950972   J
29   -1.148486 -0.986292 -0.144963  0.124362   Y
...        ...       ...       ...       ...  ..
9970  0.633495 -0.186524  0.927627  0.143164   4
9971  0.308636 -0.112857  0.762842 -1.072977   1
9972 -1.627051 -0.978151  0.154745 -1.229037   Z
9973  0.314847  0.097989  0.199608  0.955193   P
9974  1.666907  0.992005  0.496128 -0.686391   S
9975  0.010603  0.708540 -1.258711  0.226541   K
9976  0.118693 -0.714455 -0.501342 -0.254764   K
9977  0.302616 -2.011527 -0.628085  0.768827   H
9978 -0.098572  1.769086 -0.215027 -0.053076   A
9979 -0.019058  1.964994  0.738538 -0.883776   F
9980 -0.595349  0.001781 -1.423355 -1.458477   M
9981  1.392170 -1.396560 -1.425306 -0.847535   H
9982 -0.896029 -0.152287  1.924483  0.365184   6
9983 -2.274642 -0.901874  1.500352  0.996541   N
9984 -0.301898  1.019906  1.102160  2.624526   I
9985 -2.548389 -0.585374  1.496201 -0.718815   D
9986 -0.064588  0.759292 -1.568415 -0.420933   E
9987 -0.143365 -1.111760 -1.815581  0.435274   2
9988 -0.070412 -1.055921  0.338017 -0.440763   X
9989  0.649148  0.994273 -1.384227  0.485120   Q
9990 -0.370769  0.404356 -1.051628 -1.050899   8
9991 -0.409980  0.155627 -0.818990  1.277350   W
9992  0.301214 -1.111203  0.668258  0.671922   A
9993  1.821117  0.416445  0.173874  0.505118   X
9994  0.068804  1.322759  0.802346  0.223618   H
9995  2.311896 -0.417070 -1.409599 -0.515821   L
9996 -0.479893 -0.650419  0.745152 -0.646038   E
9997  0.523331  0.787112  0.486066  1.093156   K
9998 -0.362559  0.598894 -1.843201  0.887292   G
9999 -0.096376 -1.012999 -0.657431 -0.573315   0

[10000 rows x 5 columns]

In [28]:
# 读取一定的行数
pd.read_csv('ex6.csv', nrows=5)

        one       two     three      four key
0  0.467976 -0.038649 -0.295344 -1.824726   L
1 -0.358893  1.404453  0.704965 -0.200638   B
2 -0.501840  0.659254 -0.421691 -0.057688   G
3  0.204886  1.074134  1.388361 -0.982404   R
4  0.354628 -0.133116  0.283763 -0.837063   Q

In [29]:
chunker = pd.read_csv('ex6.csv', chunksize=1000)
chunker

In [8]:
from pandas import Series, DataFrame

In [31]:
# 根据chunksize对文件进行逐块迭代
# 将值聚合到‘key’列中
chunker = pd.read_csv('ex6.csv', chunksize=1000)  #TextParser还有一个get_chunk方法，读取任意大小的块

tot = Series([])
for piece in chunker:
    tot = tot.add(piece['key'].value_counts(), fill_value=0)

tot = tot.sort_values(ascending=False)

In [32]:
tot[:10]

E    368.0
X    364.0
L    346.0
O    343.0
Q    340.0
M    338.0
J    337.0
F    335.0
K    334.0
H    330.0
dtype: float64

### 将数据写出到文本格式

In [33]:
data = pd.read_csv('ex5.csv')
data

  something  a   b     c   d message
0       one  1   2   3.0   4     NaN
1       two  5   6   NaN   8   world
2     three  9  10  11.0  12     foo

In [35]:
# 写入到一个以逗号分隔符（csv）的文件中
data.to_csv('out.csv')

In [37]:
import sys

In [38]:
# 直接写入到sys.stdout中
data.to_csv(sys.stdout, sep='|')

|something|a|b|c|d|message
0|one|1|2|3.0|4|
1|two|5|6||8|world
2|three|9|10|11.0|12|foo

In [39]:
data.to_csv(sys.stdout, na_rep='NULL')

,something,a,b,c,d,message
0,one,1,2,3.0,4,NULL
1,two,5,6,NULL,8,world
2,three,9,10,11.0,12,foo

In [40]:
data.to_csv(sys.stdout, index=False, header=False)

one,1,2,3.0,4,
two,5,6,,8,world
three,9,10,11.0,12,foo

In [42]:
data.to_csv(sys.stdout, index=False, columns=['a', 'b', 'c'])

a,b,c
1,2,3.0
5,6,
9,10,11.0

In [44]:
import numpy as np

In [45]:
dates = pd.date_range('1/1/2000', periods=7)
ts = Series(np.arange(7), index=dates)

In [46]:
ts.to_csv('tseries.csv')

In [47]:
!type tseries.csv

2000-01-01,0
2000-01-02,1
2000-01-03,2
2000-01-04,3
2000-01-05,4
2000-01-06,5
2000-01-07,6

In [50]:
Series.from_csv('tseries.csv', parse_dates=True)

2000-01-01    0
2000-01-02    1
2000-01-03    2
2000-01-04    3
2000-01-05    4
2000-01-06    5
2000-01-07    6
dtype: int64

### 手工处理分隔符

In [52]:
!type ex7.csv

"a","b","c"
"1","2","3"
"1","2","3"

In [53]:
import csv
f = open('ex7.csv')

reader = csv.reader(f)

In [54]:
# 对reader进行迭代会为每一行产生一个元组
for line in reader:
    print(line)

['a', 'b', 'c']
['1', '2', '3']
['1', '2', '3']

In [55]:
lines = list(csv.reader(open('ex7.csv')))

In [56]:
header, values = lines[0], lines[1:]

In [57]:
data_dict = {h: v for h, v in zip(header, zip(*values))}

In [58]:
data_dict

{'a': ('1', '1'), 'b': ('2', '2'), 'c': ('3', '3')}

In [63]:
# 定制csv文件的格式
# 分隔符、字符串引用约定、行结束符
class my_dialect(csv.Dialect):
    lineterminator = '\n'
    delimiter = ';'
    quotechar = '"'
    quoting = csv.QUOTE_MINIMAL

reader = csv.reader(f, dialect=my_dialect)

In [64]:
# 以关键字的形式向csv.reader传递CSV语支的参数
reader = csv.reader(f, delimiter='|')

In [65]:
# 要手工输出分隔符（csv）文件，可以使用csv.writer
with open('mydata.csv', 'w') as f:
    writer = csv.writer(f, dialect=my_dialect)
    writer.writerow(('one', 'two', 'three'))
    writer.writerow(('1', '2', '3'))
    writer.writerow(('4', '5', '6'))
    writer.writerow(('7', '8', '9'))

In [66]:
pd.read_csv('mydata.csv')

  one;two;three
0         1;2;3
1         4;5;6
2         7;8;9

### JSON数据

In [71]:
obj = """
{"name": "Wes",
 "places_lived": ["United States", "Spain", "Germany"],
 "pet": null,
 "siblings":[{"name": "Scott", "age": 25, "pet": "Zuko"},
             {"name": "Katie", "age": 33, "pet": "Cisco"}]
}
"""

In [72]:
import json

In [73]:
result = json.loads(obj)
result

{'name': 'Wes',
 'places_lived': ['United States', 'Spain', 'Germany'],
 'pet': None,
 'siblings': [{'name': 'Scott', 'age': 25, 'pet': 'Zuko'},
  {'name': 'Katie', 'age': 33, 'pet': 'Cisco'}]}

In [76]:
asjson = json.dumps(result)

In [77]:
siblings = DataFrame(result['siblings'], columns=['name', 'age'])
siblings

    name  age
0  Scott   25
1  Katie   33

### XML和HTML：Web信息收集

In [79]:
from lxml.html import parse
from urllib.request import urlopen

In [80]:
parsed = parse(urlopen('http://finance.yahoo.com/q/op?s=AAPL+Options'))

In [81]:
doc = parsed.getroot()

In [82]:
links = doc.findall('.//a')

In [83]:
links[15:20]

[<Element a at 0x29bd933bae8>,
 <Element a at 0x29bd933bb38>,
 <Element a at 0x29bd933bb88>,
 <Element a at 0x29bd933bbd8>,
 <Element a at 0x29bd933bc28>]

In [84]:
lnk = links[28]

In [85]:
lnk

In [86]:
lnk.get('href')

'/quote/AAPL190628C00160000?p=AAPL190628C00160000'

In [87]:
lnk.text_content()

'AAPL190628C00160000'

In [88]:
urls = [lnk.get('href') for lnk in doc.findall('.//a')]

In [89]:
urls[-10:]

['/',
 '/watchlists',
 '/portfolios',
 '/screener',
 '/calendar',
 '/industries',
 '/videos/',
 '/news/',
 '/personal-finance',
 '/tech']

In [92]:
rows = doc.findall('.//tr')

In [93]:
def _unpack(row, kind='td'):
    # findall可以使用格式化的方式传入参数
    elts = row.findall('.//%s' %kind)
    return [val.text_content() for val in elts]

In [94]:
_unpack(rows[0], kind='th')

['Contract Name',
 'Last Trade Date',
 'Strike',
 'Last Price',
 'Bid',
 'Ask',
 'Change',
 '% Change',
 'Volume',
 'Open Interest',
 'Implied Volatility']

In [95]:
_unpack(rows[1], kind='td')

['AAPL190628C00130000',
 '2019-06-21 1:13PM EDT',
 '130.00',
 '70.87',
 '68.60',
 '69.10',
 '+70.87',
 '+∞%',
 '15',
 '10',
 '0.00%']

In [96]:
from pandas.io.parsers import TextParser

def parse_options_data(table):
    rows = table.findall('.//tr')
    header = _unpack(rows[0], kind='tr')
    data = [_unpack(r) for r in rows[1:]]
    return TextParser(data, names=header).get_chunk()

#### 利用lxml.objectify解析XML

In [98]:
from lxml import objectify

path = 'Performance_MNR.xml'
parsed = objectify.parse(open(path))
root = parsed.getroot()

In [99]:
data = []

skip_fields = ['PARNET_SEQ', 'INDICATOR_SEQ', 'DESIED_CHANGE', 'DECIMAL_PLACES']

for elt in root.INDICATOR:
    elt_data = {}
    for child in elt.getchildren():
        if child.tag in skip_fields:
            continue
        elt_data[child.tag] = child.pyval
    data.append(elt_data)

In [100]:
perf = DataFrame(data)

In [101]:
perf

,AGENCY_NAME,CATEGORY,DESCRIPTION,DESIRED_CHANGE,FREQUENCY,INDICATOR_NAME,INDICATOR_UNIT,MONTHLY_ACTUAL,MONTHLY_TARGET,PARENT_SEQ,PERIOD_MONTH,PERIOD_YEAR,YTD_ACTUAL,YTD_TARGET
0,Metro-North Railroad,Service Indicators,Percent of commuter trains that arrive at thei...,U,M,On-Time Performance (West of Hudson),%,96.9,95,,1,2008,96.9,95
1,Metro-North Railroad,Service Indicators,Percent of commuter trains that arrive at thei...,U,M,On-Time Performance (West of Hudson),%,95,95,,2,2008,96,95
2,Metro-North Railroad,Service Indicators,Percent of commuter trains that arrive at thei...,U,M,On-Time Performance (West of Hudson),%,96.9,95,,3,2008,96.3,95
3,Metro-North Railroad,Service Indicators,Percent of commuter trains that arrive at thei...,U,M,On-Time Performance (West of Hudson),%,98.3,95,,4,2008,96.8,95
4,Metro-North Railroad,Service Indicators,Percent of commuter trains that arrive at thei...,U,M,On-Time Performance (West of Hudson),%,95.8,95,,5,2008,96.6,95
5,Metro-North Railroad,Service Indicators,Percent of commuter trains that arrive at thei...,U,M,On-Time Performance (West of Hudson),%,94.4,95,,6,2008,96.2,95
6,Metro-North Railroad,Service Indicators,Percent of commuter trains that arrive at thei...,U,M,On-Time Performance (West of Hudson),%,96,95,,7,2008,96.2,95
7,Metro-North Railroad,Service Indicators,Percent of commuter trains that arrive at thei...,U,M,On-Time Performance (West of Hudson),%,96.4,95,,8,2008,96.2,95
8,Metro-North Railroad,Service Indicators,Percent of commuter trains that arrive at thei...,U,M,On-Time Performance (West of Hudson),%,93.7,95,,9,2008,95.9,95
9,Metro-North Railroad,Service Indicators,Percent of commuter trains that arrive at thei...,U,M,On-Time Performance (West of Hudson),%,96.4,95,,10,2008,96,95
10,Metro-North Railroad,Service Indicators,Percent of commuter trains that arrive at thei...,U,M,On-Time Performance (West of Hudson),%,96.9,95,,11,2008,96.1,95
11,Metro-North Railroad,Service Indicators,Percent of commuter trains that arrive at thei...,U,M,On-Time Performance (West of Hudson),%,95.1,95,,12,2008,96,95
12,Metro-North Railroad,Service Indicators,Percent of commuter trains that arrive at thei...,U,M,On-Time Performance (West of Hudson),%,92.6,96.2,,1,2009,92.6,96.2
13,Metro-North Railroad,Service Indicators,Percent of commuter trains that arrive at thei...,U,M,On-Time Performance (West of Hudson),%,96.8,96.2,,2,2009,94.6,96.2
14,Metro-North Railroad,Service Indicators,Percent of commuter trains that arrive at thei...,U,M,On-Time Performance (West of Hudson),%,96.9,96.2,,3,2009,95.4,96.2
15,Metro-North Railroad,Service Indicators,Percent of commuter trains that arrive at thei...,U,M,On-Time Performance (West of Hudson),%,97.1,96.2,,4,2009,95.9,96.2
16,Metro-North Railroad,Service Indicators,Percent of commuter trains that arrive at thei...,U,M,On-Time Performance (West of Hudson),%,97.8,96.2,,5,2009,96.2,96.2
17,Metro-North Railroad,Service Indicators,Percent of commuter trains that arrive at thei...,U,M,On-Time Performance (West of Hudson),%,97.3,96.2,,6,2009,96.4,96.2
18,Metro-North Railroad,Service Indicators,Percent of commuter trains that arrive at thei...,U,M,On-Time Performance (West of Hudson),%,96.7,96.2,,7,2009,96.5,96.2
19,Metro-North Railroad,Service Indicators,Percent of commuter trains that arrive at thei...,U,M,On-Time Performance (West of Hudson),%,95.7,96.2,,8,2009,96.4,96.2
20,Metro-North Railroad,Service Indicators,Percent of commuter trains that arrive at thei...,U,M,On-Time Performance (West of Hudson),%,96.1,96.2,,9,2009,96.3,96.2
21,Metro-North Railroad,Service Indicators,Percent of commuter trains that arrive at thei...,U,M,On-Time Performance (West of Hudson),%,94.8,96.2,,10,2009,96.2,96.2
22,Metro-North Railroad,Service Indicators,Percent of commuter trains that arrive at thei...,U,M,On-Time Performance (West of Hudson),%,95.7,96.2,,11,2009,96.1,96.2
23,Metro-North Railroad,Service Indicators,Percent of commuter trains that arrive at thei...,U,M,On-Time Performance (West of Hudson),%,95,96.2,,12,2009,96,96.2
24,Metro-North Railroad,Service Indicators,Percent of commuter trains that arrive at thei...,U,M,On-Time Performance (West of Hudson),%,98,96.3,,1,2010,98,96.3
25,Metro-North Railroad,Service Indicators,Percent of commuter trains that arrive at thei...,U,M,On-Time Performance (West of Hudson),%,93,96.3,,2,2010,95.6,96.3
26,Metro-North Railroad,Service Indicators,Percent of commuter trains that arrive at thei...,U,M,On-Time Performance (West of Hudson),%,96.9,96.3,,3,2010,96.1,96.3
27,Metro-North Railroad,Service Indicators,Percent of commuter trains that arrive at thei...,U,M,On-Time Performance (West of Hudson),%,98.1,96.3,,4,2010,96.6,96.3
28,Metro-North Railroad,Service Indicators,Percent of commuter trains that arrive at thei...,U,M,On-Time Performance (West of Hudson),%,97.6,96.3,,5,2010,96.8,96.3
29,Metro-North Railroad,Service Indicators,Percent of commuter trains that arrive at thei...,U,M,On-Time Performance (West of Hudson),%,97.4,96.3,,6,2010,96.9,96.3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
618,Metro-North Railroad,Service Indicators,Percent of the time that escalators are operat...,U,M,Escalator Availability,%,94,,,7,2009,95.14,
619,Metro-North Railroad,Service Indicators,Percent of the time that escalators are operat...,U,M,Escalator Availability,%,97,,,8,2009,95.38,
620,Metro-North Railroad,Service Indicators,Percent of the time that escalators are operat...,U,M,Escalator Availability,%,98.3,,,9,2009,95.7,
621,Metro-North Railroad,Service Indicators,Percent of the time that escalators are operat...,U,M,Escalator Availability,%,98.7,,,10,2009,96,
622,Metro-North Railroad,Service Indicators,Percent of the time that escalators are operat...,U,M,Escalator Availability,%,98.1,,,11,2009,96.21,
623,Metro-North Railroad,Service Indicators,Percent of the time that escalators are operat...,U,M,Escalator Availability,%,100,,,12,2009,96.5,
624,Metro-North Railroad,Service Indicators,Percent of the time that escalators are operat...,U,M,Escalator Availability,%,97.95,97,,1,2010,97.95,97
625,Metro-North Railroad,Service Indicators,Percent of the time that escalators are operat...,U,M,Escalator Availability,%,100,97,,2,2010,98.92,97
626,Metro-North Railroad,Service Indicators,Percent of the time that escalators are operat...,U,M,Escalator Availability,%,100,97,,3,2010,99.29,97
627,Metro-North Railroad,Service Indicators,Percent of the time that escalators are operat...,U,M,Escalator Availability,%,100,97,,4,2010,99.47,97
628,Metro-North Railroad,Service Indicators,Percent of the time that escalators are operat...,U,M,Escalator Availability,%,100,97,,5,2010,99.58,97
629,Metro-North Railroad,Service Indicators,Percent of the time that escalators are operat...,U,M,Escalator Availability,%,91.21,97,,6,2010,98.19,97
630,Metro-North Railroad,Service Indicators,Percent of the time that escalators are operat...,U,M,Escalator Availability,%,100,97,,7,2010,98.46,97
631,Metro-North Railroad,Service Indicators,Percent of the time that escalators are operat...,U,M,Escalator Availability,%,100,97,,8,2010,98.69,97
632,Metro-North Railroad,Service Indicators,Percent of the time that escalators are operat...,U,M,Escalator Availability,%,95.2,97,,9,2010,98.3,97
633,Metro-North Railroad,Service Indicators,Percent of the time that escalators are operat...,U,M,Escalator Availability,%,90.91,97,,10,2010,97.55,97
634,Metro-North Railroad,Service Indicators,Percent of the time that escalators are operat...,U,M,Escalator Availability,%,96.67,97,,11,2010,97.47,97
635,Metro-North Railroad,Service Indicators,Percent of the time that escalators are operat...,U,M,Escalator Availability,%,90.03,97,,12,2010,96.84,97
636,Metro-North Railroad,Service Indicators,Percent of the time that escalators are operat...,U,M,Escalator Availability,%,100,97,,1,2011,100,97
637,Metro-North Railroad,Service Indicators,Percent of the time that escalators are operat...,U,M,Escalator Availability,%,100,97,,2,2011,100,97
638,Metro-North Railroad,Service Indicators,Percent of the time that escalators are operat...,U,M,Escalator Availability,%,97.07,97,,3,2011,98.86,97
639,Metro-North Railroad,Service Indicators,Percent of the time that escalators are operat...,U,M,Escalator Availability,%,98.18,97,,4,2011,98.76,97
640,Metro-North Railroad,Service Indicators,Percent of the time that escalators are operat...,U,M,Escalator Availability,%,79.18,97,,5,2011,90.91,97
641,Metro-North Railroad,Service Indicators,Percent of the time that escalators are operat...,U,M,Escalator Availability,%,,97,,6,2011,,97
642,Metro-North Railroad,Service Indicators,Percent of the time that escalators are operat...,U,M,Escalator Availability,%,,97,,7,2011,,97
643,Metro-North Railroad,Service Indicators,Percent of the time that escalators are operat...,U,M,Escalator Availability,%,,97,,8,2011,,97
644,Metro-North Railroad,Service Indicators,Percent of the time that escalators are operat...,U,M,Escalator Availability,%,,97,,9,2011,,97
645,Metro-North Railroad,Service Indicators,Percent of the time that escalators are operat...,U,M,Escalator Availability,%,,97,,10,2011,,97
646,Metro-North Railroad,Service Indicators,Percent of the time that escalators are operat...,U,M,Escalator Availability,%,,97,,11,2011,,97
647,Metro-North Railroad,Service Indicators,Percent of the time that escalators are operat...,U,M,Escalator Availability,%,,97,,12,2011,,97

In [103]:
from io import StringIO
tag = '<a href="http://www.google.com">Google</a>'

root = objectify.parse(StringIO(tag)).getroot()
root

In [104]:
root.get('href')

'http://www.google.com'

In [105]:
root.text

'Google'

### 二进制数据格式

In [6]:
frame = pd.read_csv('ex1.csv')

In [7]:
frame

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

#### 使用HDF5格式

In [1]:
import tables

In [4]:
# Python的HDF5库有两个接口（即PyTables和h5py）
# HDStore类通过PyTables存储pandas对象
store = pd.HDFStore('mydata.h5')

In [8]:
store['obj1'] = frame

In [9]:
store['obj1_col'] = frame['a']

In [10]:
store

<class 'pandas.io.pytables.HDFStore'>
File path: mydata.h5

In [11]:
store['obj1']

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

#### 读取Excel文件

In [13]:
xls_file = pd.ExcelFile('data.xlsx')

In [14]:
xls_file

In [15]:
table = xls_file.parse('Sheet1')

### 使用HTML和Web API

In [16]:
import requests

In [19]:
# 更新后的Twitter API，但是无法通过爬虫爬取
# 而使用Python爬取tweets的项目有Twitter-Search和Tweepy等
url = 'https://twitter.com/search?q=python+pandas'

In [21]:
resp = requests.get(url)

ConnectionError: HTTPSConnectionPool(host='twitter.com', port=443): Max retries exceeded with url: /search?q=python+pandas (Caused by NewConnectionError('<requests.packages.urllib3.connection.VerifiedHTTPSConnection object at 0x0000026D8041AF60>: Failed to establish a new connection: [WinError 10060] 由于连接方在一段时间后没有正确答复或连接的主机没有反应，连接尝试失败。',))

In [ ]:
resp

### 使用数据库

In [1]:
import sqlite3

In [2]:
query = """
CREATE TABLE test
(a VARCHAR(20), b VARCHAR(20),
c REAL,         d INTEGER
);
"""
con = sqlite3.connect(':memory:')
con.execute(query)
con.commit()

In [3]:
data = [('Atlanta', 'Georgia', 1.25, 6),
        ('Tallahassee', 'Florida', 2.6, 3),
        ('Sacramento', 'California', 1.7, 5)]
stmt = 'INSERT INTO test VALUES(?, ?, ?, ?)'
con.executemany(stmt, data)
con.commit()

In [4]:
# 大部分Python SQL驱动器：
# PyODBC、psycog2、MySQLdb、pymssql
# 都会返回一个元组列表
cursor = con.execute('select * from test')

In [5]:
rows = cursor.fetchall()

In [6]:
rows

[('Atlanta', 'Georgia', 1.25, 6),
 ('Tallahassee', 'Florida', 2.6, 3),
 ('Sacramento', 'California', 1.7, 5)]

In [7]:
cursor.description

(('a', None, None, None, None, None, None),
 ('b', None, None, None, None, None, None),
 ('c', None, None, None, None, None, None),
 ('d', None, None, None, None, None, None))

In [11]:
DataFrame(rows, columns=zip(*cursor.description)[0])

TypeError: 'zip' object is not subscriptable

In [12]:
import pandas.io.sql as sql

In [17]:
sql.read_sql_query('select * from test', con)

             a           b     c  d
0      Atlanta     Georgia  1.25  6
1  Tallahassee     Florida  2.60  3
2   Sacramento  California  1.70  5

### 存取MongoDB中的数据

In [18]:
import pymongo

In [20]:
con = pymongo.MongoClient('localhost', port=27017)